{extend name="public/container"}
{block name="title"}{$title}{/block}
{block name="content"}
<div class="cut-list" id="guide">
  <section>
    <div>
      <div>
        <div v-show="article.list.length > 0" v-cloak="" ref="bsDom">
          <ul class="cut-ul">
            <li class="cut-item" v-for="item in article.list">
              <a :href="'/wap/store/tbkdetail/num_iid/'+item.num_iid" rel="external nofollow">
                <div class="picture"><img :src="item.pict_url"></div>
                <div class="acea-row row-wrap-all cut-text">
                  <div class="cut-con">
                    <p class="name" v-text="item.title"></p>
                  </div>
                  <div class="cut-but"><i class="cut-but-icon"></i>￥{{item.zk_final_price}}</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <p class="loading-line" v-show="loading == true"><i></i><span>正在加载中</span><i></i></p>
        <p class="loading-line" v-show="loading == false && loaded == false" v-cloak="">
          <i></i><span>向上滑动加载更多</span><i></i></p>
        <p class="loading-line" v-show="loading == false && loaded == true" v-cloak="">
          <i></i><span>没有更多了</span><i></i></p>
      </div>
    </div>
  </section>
</div>
<script type="text/javascript" src="{__WAP_PATH}crmeb/module/ninepointnine.js"></script>
<link rel="stylesheet" href="{__WAP_PATH}bargain/css/reset.css">
<link rel="stylesheet" href="{__WAP_PATH}bargain/css/base.css">
<link rel="stylesheet" href="font/iconfont.css">
<link rel="stylesheet" href="{__WAP_PATH}bargain/css/swiper.min.css">
<link rel="stylesheet" href="{__WAP_PATH}bargain/css/style.css">
<script src="{__WAP_PATH}bargain/js/media.js"></script>
<script src="{__WAP_PATH}bargain/js/jquery-2.1.4.min.js"></script>
<script src="{__WAP_PATH}bargain/js/swiper.min.js"></script>
{/block}